{% extends "base.html" %}
{% block content %}

<h2>{{ interview.topic }} Interview</h2>

<div class="chat-wrapper">

    <div class="chat-box" id="chat-box"></div>

    <div class="avatar-section">
        <img src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png" class="avatar">
        <p>{{ current_user.username }}</p>
    </div>

</div>

<button class="mic-btn" onclick="startListening()">🎤 Speak</button>

<script>
    const TOTAL_QUESTIONS = {{ interview.total_questions }};
</script>
<script src="/static/js/chat.js"></script>

{% endblock %}
